.DS_Store

myMusicStand.xcodeproj/project.xcworkspace/xcuserdata/stevensolomon.xcuserdatad/UserInterfaceState.xcuserstate

myMusicStand.xcodeproj/xcuserdata/stevensolomon.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
